@@include('../chunks/head.html')

<body>
	<div class="page-wrapper">
			@@include('../chunks/header.html')
			
		<main class="page-body">
			<div class="menu" id="head_menu">
				<img src="img/closer.png" class="closer">
			</div>
			<div class="head-main">
				<button class="create_order">+ Создать заказ</button>
				<div class="cont">
					<span class="head-label">Профиль</span>
					<span class="head-label">Мои заказы</span>
					<span class="head-label">Мои задания</span>
				</div>
			</div>
			<div class="main-wrapper">
				<span class="profile">Профиль</span>
				<div class="middle-wrapper">
					<div class="mid-header-wrapper">
							<span class="mid-label">Информация заказчика</span>
							<span class="mid-label">Платежные реквизиты</span>
							<span class="mid-label">Пароль</span>
							<span class="mid-label">История заказов</span>
					</div>
					<div class="content">
						<div class="rows">
							<p class="label">ФИО контактного лица / Название бюро переводов</p>
							<input type="text" class="field" placeholder="Толмашевский Константин Анатолиевич">
						</div>
						<div class="rows">
							<p class="label">Телефон</p>
							<input type="text" class="field" placeholder="+380 97 321-32-10">
						</div>
						<div class="rows">
							<p class="label">E-mail</p>
							<input type="text" class="field" placeholder="tolkoan@gmail.com">
						</div>
						<button class="submit-main">Сохранить изменения</button>
					</div>
				</div>
			</div>
		</main>

		@@include('../chunks/footer.html')
	</div>
	<!-- scripts -->
	@@include('../chunks/scripts.html')
</body>

</html>